//Font Weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;
$Fw-extraBold: 800;

//Font Families
$Ff-primary: 'Inter', sans-serif;
$FF-secondary: 'Lexend Deca', sans-serif;

//Colors
$Clr-primary-100: #fff;
$Clr-primary-200: #8c8aa2;
$Clr-primary-accent: #ab5bd8;
$Clr-primary-700: #1c1938;
$Clr-primary-800: #0a0c1b;
$Clr-accent-transparency: #380058;
